.bread {
  background: #e6e6e6;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 20px;
}
.des_all{
    margin-bottom: 8rem;
}
.bread li {
  font-size: 12px;
  color: #808080;
}
.des_h {
  font-size: 20px;
}
.des-p {
  color: #cbbcfe;
}
.des-h2 {
  font-size: 16px;
}
.des-p-2 {
  font-size: 12px;
  text-align: justify;
}
.des-bg {
  background: #f3f3f3;
}
.bg-play {
  background: #3292f1;
}
.play-p {
  font-size: 17px;
}
.acc_i img {
  width: -webkit-fill-available;
}
.acc_i {
  box-shadow: 0px 1px 18px 0px rgb(0 0 0 / 13%);
}
.frm_exchange label {
  font-size: 14px;
  font-weight: 400;
}
.img_said {
  margin-bottom: 9rem;
}
.buy_rejister {
  position: fixed;
  bottom: 0;
  z-index: 999;
  box-shadow: 0px -11px 107px 0px rgba(0, 0, 0, 0.08);
}

.tex-9 {
  color: #9a9a9a;
}
.text-3 {
  color: #3292f1;
}
.bg-d {
  background: #dcedfd;
}
.bg-32 {
  background: #3292f1;
}
.btn:hover {
  color: white;
  background: #2261a1;
}
.type_acc:hover {
  border: 3px solid #3292f1 !important;
}
.h_acc {
  height: 9.7rem;
}
.f_acc {
  font-size: 0.75rem;
  border: 0.5px solid #dc2626;
  color: #dc2626;
  background: #fee2e2;
}
.type_not {
  background: #e6e6e659;
}
.type_not > p:nth-child(1) {
  color: rgba(0, 0, 0, 0.498);
}
.type_not > p:nth-child(2) {
  color: #3291f189;
}
.form-selectt:active{
    border: none;
}
.form-select {
  width: 8rem !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.25rem 0.375rem 1.25rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url(../images/buy_account/vahed.svg);
  background-repeat: no-repeat;
  background-position: right -0rem center;
  background-size: 23px 20px;
  border: 1px solid #ced4da4a;
  border-radius: 0.675rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  direction: ltr;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-left: 0.5rem;}

@media (max-width: 991px) {
  .acc_1 {
    width: 100% !important;
  }
  .acc_2 {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  .buy_rejister div > p:last-child {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 767px) {
  .buy_rejister div > p:last-child {
    font-size: 1.25rem !important;
  }
  .buy_rejister {
    gap: 1.5rem;
  }
  .buy_rejister div > p:first-child {
    text-align: center;
  }
  .bt_rji {
    width: 18rem;
  }
  .div_reji {
    width: 18rem;
  }
}
@media (max-width: 767px) {
  .buy_rejister {
    width: 96%;
    position: unset;
    margin-bottom: 8rem;
    border-radius: 20px;
  }
  .des_all{
    margin-bottom: 0rem;
}
.sh_main{
    padding: 20px 0 69px 0;

}
}
@media (max-width: 575px) {
  .bread li {
    font-size: 10px;
  }
}
